
header{
    display: flex;
    margin-left: 1%;
    margin-top: 1%;
    height: 100px;
    position: relative;

}

a{
    text-decoration: none;
    color: black;
}


.logo{
    display: flex;
    width: 150px;
    height: 150px;
}

.absp{
    margin-top: 75px;
    margin-left: 50px;
}


.catalogs-text{
    display: flex;
    text-align: center;
    margin-left: 25%;
    margin-top: 105px;
    font-size: 32px;
    font-weight: 700;
    color: #000000;
    text-align: left;
}


.textwoman{
    margin-left: 250px;
}

.textkids{
    margin-left: 250px;
}



.support-text{
    margin-top: 115px;
    margin-left: 450px;
    position: absolute;

}


.support-img{
    width: 100px;
    height: 100px;
    margin-left: 525px;
    position: absolute;
}



.korzimg{
    width: 75px;
    height: 75px;
    margin-left: 850px;
    margin-top: 50px;
    position: absolute;
}



.polosa{
    width: 100%;
    height: 2px;
    background-color: black;
    margin-top: 50px;
}


footer{
    position: absolute;
    bottom: 0px;
    height: 100px;
}

.footer-block{
    width: 2535px;
    height: 100px;
    background-color: #282c31;;
}

.footer-text{
    font-size: 35px;
    position: absolute;
    margin-left: 1000px;
    margin-top: 25px;
    color: #d3d7da;
}



.imgvk{
    width: 50px;
    margin-left: 90%;
    margin-top: 25px;
}
.imginst{
    width: 50px;
    margin-left: 15px;
}



.formreg{
    margin-top: 100px;
    margin-left: 1000px;
    margin-bottom: 135px;
}

.registrationuser{
    margin-left: 10px;
}



.LoginBut{
    margin-left: 50px;
    width: 150px;
    height: 50px;
    border: 2px solid #d36b03;
}

.passbut{
    width: 150px;
    height: 50px;
    border: 2px solid #d36b03;
}

/* Стили для формы */
.nameinp, .surnameinp, .dateinp, .LoginBut, .passbut{
    background-color: orange;
    color: black;
    font-weight: bold;
    border-radius: 5px;
}

.nameinp::placeholder, .surnameinp::placeholder, .dateinp::placeholder, .LoginBut::placeholder,.passbut::placeholder {
    color: black;
    font-weight: bold;
}

.enterauth, .registrationauth {
    background-color: darkorange;
}

.enterauth:hover, .registrationauth:hover {
    background-color: orange;
    cursor: pointer;
}
/*  */




.nameinp{
    margin-left: 50px;
    border: 2px solid #d36b03;
    width: 150px;
    height: 50px;
}
.surnameinp{
    border: 2px solid #d36b03;
    width: 150px;
    height: 50px;
}
.dateinp{
    margin-left: 50px;
    border: 2px solid #d36b03;
    width: 315px;
    height: 35px;
    font-size: 25px;
    text-align: center;
}





.submreg{
    margin-left: 78px;
    height: 50px;
    width: 250px;
    color: white;
    background-color: #d36b03;
    border: none;
}

.login-busy{
    font-size: 35px;
    font: bold;
    margin-left: 1035px;
}


/* Адаптация для разрешения 1920px на 1080px */
@media screen and (max-width: 1920px) and (max-height: 1080px) {
    .support-img{
        margin-left: 300px;
    }
    .korzimg{
        margin-left: 525px;
    }
    .support-text{
        margin-left: 225px;
    }
    .catalogs-text{
        margin-left: 350px;
    }
    .authorization{
        left: 66.5%;
    }
    .img-picture{
        width: 1910px;
    }
    footer{
        bottom: -31px;
    }
    .footer-block{
        width: 1910px;
    }
    .footer-text{
        margin-left: 775px;
    }
    .registrationuser{
        margin-left: -230px;
    }
    .nameinp{
        margin-left: -193px;
    }
    .LoginBut{
        margin-left: -193px;
    }
    .dateinp{
        margin-left: -193px;
    }
    .submreg{
        margin-left: -155px;
    }
    .login-busy{
        margin-left: 795px;
    }
    
}


@media screen and (max-width: 1920px) and (max-height: 1000px) {

    .footer-block{
        width: 1890px;
    }
    .footer-text{
        margin-left: 775px;
    }
    .registrationuser{
        margin-left: -250px;
    }
    .nameinp{
        margin-left: -213px;
    }
    .LoginBut{
        margin-left: -213px;
    }
    .dateinp{
        margin-left: -213px;
    }
    .submreg{
        margin-left: -175px;
    }
    .login-busy{
        margin-left: 795px;
        margin-top: -100px;
    }
} 
/* ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑ */






/* Адаптация для разрешения 1600px на 900px */
@media screen and (max-width: 1600px) and (max-height: 900px) {
    .catalogs-text {
        margin-left: 190px;
    }
    .textwoman {
        margin-left: 215px;
    }
    .textkids {
        margin-left: 215px;
    }
    .authorization {
        left: 64%;
    }
    .support-img {
        margin-left: 252px;
    }
    .support-text {
        margin-left: 170px;
    }
    .korzimg {
        margin-left: 477px;
    }
    .footer-block {
        width: 1590px;
    }
    .footer-text {
        margin-left: 630px;
    }
    .registrationuser {
        margin-left: -375px;
    }
    .nameinp {
        margin-left: -335px;
    }
    .LoginBut {
        margin-left: -335px;
    }
    .dateinp {
        margin-left: -335px;
    }
    .submreg {
        margin-left: -300px;
    }
    .login-busy{
        margin-left: 658px;
    }
}

@media screen and (max-width: 1600px) and (max-height: 890px) {

    footer{
        bottom: -125px;
    }
    .footer-block {
        width: 1575px;
    }
    .registrationuser {
        margin-left: -400px;
    }
    .nameinp {
        margin-left: -370px;
    }
    .LoginBut {
        margin-left: -370px;
    }
    .dateinp {
        margin-left: -370px;
    }
    .submreg {
        margin-left: -335px;
    }
    .login-busy{
        margin-left: 625px;
    }

}

/* ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑ */




/* Адаптация для разрешения 1366px на 768px */
@media screen and (max-width: 1366px) and (max-height: 768px) {

    footer{
        bottom: -10px;
    }
    .footer-block{
        width: 1355px;
    }
    .footer-text{
        margin-left: 500px;
    }

    .catalogs-text{
        margin-left: 150px;
    }
    .textwoman{
        margin-left: 125px;
    }
    .textkids{
        margin-left: 125px;
    }
    .authorization {
        left: 58.4%;
        width: 110px;
        height: 45px;
    }
    .support-img {
        margin-left: 215px;
    }
    .support-text {
        margin-left: 140px;
    }
    .korzimg {
        margin-left: 450px;
    }

    .registrationuser {
        margin-left: -530px;
        margin-top: -75px;
    }
    .nameinp {
        margin-left: -495px;
    }
    .LoginBut {
        margin-left: -495px;
    }
    .dateinp {
        margin-left: -495px;
    }
    .submreg {
        margin-left: -460px;
    }
    .login-busy {
        margin-left: 500px;
    }
}

@media screen and (max-width: 1366px) and (max-height: 760px) {

    footer{
        bottom: -250px;
    }
    .footer-block{
        width: 1340px;
    }
    .registrationuser {
        margin-left: -530px;
        padding-top: 0px;
    }
    .login-busy{
        margin-left: 500px;
    }

}  

/* ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑ */